include README.rst
include LICENSE
include .coveragerc
#include Makefile
include tox.ini

recursive-include docs *.rst
recursive-include docs Makefile
recursive-exclude docs/_build *

recursive-include examples *.py
recursive-exclude examples/mytests *

recursive-include webuntis *.pyi
recursive-include docs *.py
recursive-include tests *.json

include webuntis/py.typed
